*{
  outline: solid red 1px;
  background-color: #cccccc50;
}
main {
  margin: auto;
  width: 1080px;
}

header, footer {
  height: 200px;
}

aside {
  height: 700px;
  width: 200px;
}

section {
  height: 700px;
  width: 680px;
}